@import url(_theme.css);
.index { 
    margin: 0; 
    padding: 0; 
    background-color: var(--grey-100);
}

header {
    width: 100%;
    background-color: var(--main-color);
    padding: 10px 0;
    border-bottom: 2px solid var(--grey-400);
}

footer {
    border-top: 2px solid var(--grey-400);
    width: 100%;
    text-align: center;
    margin-top: 40px;
    padding: 30px 0;
}

footer p {
    margin: 0;
    color: var(--grey-200);
    font-family: var(--primary-font);
    font-size: 0.9rem; 
}

section {
    width: 100%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    padding-top: 30px;
}


.title-section {
    width: 95%;
    max-width: 1200px; 
    margin-bottom: 10px; 
    text-align: left; 
}

.title-section h2 {
    font-family: var(--primary-font);
    font-size: 3rem;
    color: var(--grey-800); 
    margin: 0;
    font-weight: bold;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px; 
    padding: 40px; 
    width: 100%;
    box-sizing: border-box; 
}

.card {
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
    background-color: var(--white);
    border-radius: 20px;
    overflow: hidden;    
    font-family: var(--primary-font);
    box-shadow: 0 4px 8px var(--grey-950);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.card-header {
    display: flex;
    justify-content: center;
}

.card-header img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    display: block;
    object-fit: cover;
}

.card-footer {
    padding: 15px 0 0 0; 
    text-align: left;
}

.card-footer p {
    margin: 0 0 15px 15px; 
    font-weight: none;
    color: var(--grey-800);
}

.blue-bar {
    height: 25px;
    background-color: var(--main-color);
    width: 100%;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05) rotate(4deg);
    box-shadow: 0 12px 24px var(--grey-950);
}

.card:hover .blue-bar {
    background-color: var(--accent-color);
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    height: 60px;
}

.logo h1 {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 2rem;
    margin: 0;
}

.logo span {
    font-size: 1rem;
    vertical-align: middle;
}

.search-container form {
    display: flex;
    background-color: var(--white);
    border-radius: 25px;
    overflow: hidden;
    width: 450px; 
}

.search-container input {
    border: none;
    padding: 10px 20px;
    flex-grow: 1;
    outline: none;
    font-family: var(--primary-font);
}

.search-container button {
    background-color: var(--accent-color); 
    color: var(--white);
    border: none;
    padding: 0 25px;
    cursor: pointer;
    font-family: var(--primary-font);
    transition: 0.3s;
}

.search-container button:hover {
    background-color: var(--accent-color);
}

.user-icon img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: var(--accent-color);
    object-fit: contain;
    padding: 2px; 
    box-sizing: border-box;
}

.perfil {
    margin: 0; 
    padding: 0; 
    background-color: var(--grey-100);
    font-family: var(--primary-font);
    background-color: var(--white);
    line-height: 1.6;
    color: var(--grey-950);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfil-card {
    background: var(--white);
    width: 95%;
    max-width: 1400px;
    display: flex; 
    align-items: stretch; 
    overflow: hidden;
    box-shadow: 0 4px 15px var(--grey-400);
}

.columna-foto {
    flex: 1.2; 
    display: flex;
    padding-right: 5px;
    background-color: var(--main-color);
}

.columna-foto img {
    width: 100%;
    height: 100%;       
    object-fit: cover;  
    object-position: center;
    display: block;
    border-bottom-right-radius: 80px;
}

.columna-info {
    flex: 2.8; 
    padding: 40px;
}

h1 {
    color: var(--main-color);
    margin-top: 0;
    font-size: 3em;
}

.biografia {
    font-style: italic;
    margin-bottom: 30px;
}

.tabla-datos {
    width: 100%;
    border-collapse: collapse;
}

.tabla-datos td {
    padding: 4px 0;
}

.etiqueta {
    font-weight: normal;
    width: 40%;
}

.valor {
    font-weight: normal;
}

.destacado {
    font-weight: bold;
}

.contacto a {
    color: var(--main-color);
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contacto a:hover {
    color: var(--accent-color); 
    text-decoration: underline; 
}

.navbar a{
    text-decoration: none;
}